@charset "utf-8";
/* CSS Document */

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
a {
  text-decoration: none !important;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, a:hover {
  text-decoration: none;
}

body {
  font-family: 'Segoe UI', 'Open Sans', helvetica, sans-serif, Arial, '微軟正黑體', '新細明體';
  font-size: 15px;
  line-height: ;
  color: #808080;
  /*font-weight: 400;*/
  position: relative;
  /*text-align: center;  */
  /*height: 2000px;*/
}
::selection {   /*IE9+版本支持*/
  background: #73c3bb;
  color: #fff;
}
::-moz-selection {
  background: #73c3bb;
  color: #fff;
}

/**
 * =======================
 * Components 效果
 * =======================
 */
.text-shadow {  /* 仿雕刻 */
  text-shadow: 1px 1px 0px rgb(224, 224, 224);
}
.section-separator {  /* 分隔器 */
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
}
.banner-shadow{   /* banner上下陰影 */
  -webkit-box-shadow:inset 0 8px 20px 0 rgba(40, 40, 40, 0.7),inset 0 -8px 20px 0 rgba(40, 40, 40, 0.7);
  -moz-box-shadow:inset 0 8px 20px 0 rgba(40, 40, 40, 0.7),inset 0 -8px 20px 0 rgba(40, 40, 40, 0.7);
  -o-box-shadow:inset 0 8px 20px 0 rgba(40, 40, 40, 0.7),inset 0 -8px 20px 0 rgba(40, 40, 40, 0.7);
  box-shadow:inset 0 8px 20px 0 rgba(40, 40, 40, 0.7),inset 0 -8px 20px 0 rgba(40, 40, 40, 0.7);
}
.overlay-color-0 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  filter:alpha(opacity=70);  /* IE透明度 */  
  /*opacity:.5;  火狐+chrome透明度 */
}
.overlay-color-255 {
  background: rgba(255, 255, 255, .7);
  filter:alpha(opacity=70);
}
.overlay-line-color-255 { /* 背景：線性漸層 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,fbfbfb+100&0+0,1+78 */
  background: -moz-linear-gradient(top, rgba(251,251,251,0) 0%, rgba(251,251,251,0) 0%, rgba(251,251,251,1) 45%, rgba(251,251,251,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(251,251,251,0) 0%,rgba(251,251,251,0) 0%,rgba(251,251,251,1) 45%,rgba(251,251,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(251,251,251,0) 0%,rgba(251,251,251,0) 0%,rgba(251,251,251,1) 45%,rgba(251,251,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fbfbfb', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */  /*background: rgba(0, 0, 0, .4);*/
}
.offset-text{
  position: absolute;
}




/**
 * =======================
 * Navigation
 * =======================
 */
.navbar-brand {
  float: left;
}
.main-navbar-top {
  border: 0px solid;
  top: 0px;
  padding-top: 25px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  z-index: 100;
}
.main-navbar-top .okayNav-header {
  background-color: transparent;
}
.main-navbar-top .navbar-brand {
  display: block;
  height: 77px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0px;
}
.main-navbar-top .navbar-brand img {
  display: block;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 5px;
}

.main-navbar-top .navbar-brand .logo-1 {
  display: block;
  opacity:0.6;  
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.main-navbar-top .navbar-brand .logo-1:hover {
  opacity:1;
}
.main-navbar-top .navbar-brand .logo-2 {
  display: none;
}
.main-navbar-top .navbar-toggle {
  padding: 19px 15px;
}
.main-navbar-top .navbar-toggle .icon-bar {
  background-color: #355dff;
}
.main-navbar-top ul li .btn-nav {
  border-radius: 50px 50px 50px 50px ;
  -webkit-border-radius: 50px 50px 50px 50px ;
  -moz-border-radius: 50px 50px 50px 50px ;
  -ms-border-radius: 50px 50px 50px 50px ;
  -o-border-radius: 50px 50px 50px 50px ;
  padding: 15px 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 2px;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid;
  border-color: transparent;
}
.main-navbar-top ul li .btn-nav:focus {
  background-color: transparent !important;
}
.main-navbar-top ul li .btn-nav:hover {
  background-color: transparent;
  color: #ffffff;
}
.main-navbar-top ul li.active .btn-nav {
  color: #ffffff;
}
.main-navbar-top ul li:last-child a {
  margin-right: 0px;
}
.main-navbar-top .navbar-nav {
  padding-top: 5px;
}
.main-navbar-top .navbar-nav .btn-nav.btn-border {
  border-color: rgba(255, 255, 255, 0.6);
}
.main-navbar-top .navbar-nav .btn-nav.btn-border:hover {
  border-color: #ffffff;
}
.main-navbar-top .okayNav__menu-toggle span {
  background-color: #ffffff;
}
.main-navbar-top .okayNav__nav--invisible {
  top: 95px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-navbar-top .okayNav__nav--invisible .btn-nav {
  color: rgba(88, 88, 88, 0.7);
  background-color: transparent;
}
.main-navbar-top .okayNav__nav--invisible .btn-nav:hover {
  color: #585858;
}
.main-navbar-top .okayNav__nav--invisible.active .btn-nav {
  color: #585858;
}
.main-navbar-top.navbar-home {
  padding-top: 0;
  background-color: #ffffff;
  box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
  -webkit-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
  -o-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
}
.main-navbar-top.navbar-home .okayNav__menu-toggle span {
  background-color: #585858;
}
.main-navbar-top.navbar-home .okayNav__nav--invisible {
  top: 70px;
}
.main-navbar-top.navbar-home .navbar-brand .logo-1 {
  display: none;
}
.main-navbar-top.navbar-home .navbar-brand .logo-2 {
  display: block;
}
.main-navbar-top.navbar-home ul li .btn-nav {
  color: rgba(88, 88, 88, 0.7);
  background-color: transparent;
}
.main-navbar-top.navbar-home ul li .btn-nav:hover {
  color: #2a8787;
}
.main-navbar-top.navbar-home ul li.active .btn-nav {
  color: #355dff;
}
.main-navbar-top.navbar-home .navbar-nav .btn-nav.btn-border {
  border-color: rgba(88, 88, 88, 0.7);
}
.main-navbar-top.navbar-home .navbar-nav .btn-nav.btn-border:hover {
  border-color: #585858;
}


/**
 * =======================
 * Header Section
 * =======================
 */
.bg-image-1{
  background: url(../images/header-bg01.jpg) no-repeat #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.header-section-1 .section-separator{
  padding-top: 187px;
}
.header-section-1 .title {
  color: #edece2;
  text-align: center;
}
.header-section-1 .title h1{
  font-size: 60px;
}
.header-section-1 .title h2{
  font-size: 18px;
  text-transform: capitalize; //第一字大寫
  color: #fff;
  font-family: 'Gotham light';
  font-style: italic;
  margin: 1% 0 0 0;
}
.header-section-1 h2 span{
    color: #95e2da;
}
.header-section-1 .detail {
  margin-top: 1%;
  color: #b7b7b7;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 992px) {  
  .header-section-1 .title {
    border-right: 1px #fff solid;
    text-align: right;
  }
  .header-section-1 .title h2{
    margin: 15px 30px 0 0;
  }
  .header-section-1 h2 span{
    display: block;
  }
  .header-section-1 .detail {
    margin-top: 13%;
    text-align: left;
  }
  .header-section-1 .detail .left{
    float: left;
  }
  .header-section-1 .detail .right{
    float: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-section-1 .title {
    border-bottom: 1px #676767 solid;
    text-align: center;
  }
  .header-section-1 .title h2{
    margin: 5px 0 ;
  }
  .header-section-1 .detail .left{
    float: left;
    margin-left: 10%;
  }
  .header-section-1 .detail .right{
    float: right;
    margin-right: 10%;
  }
  .header-section-1 .detail {
    font-size: 18px;
  }
}


/**
 * =======================
 * Features Section 1
 * =======================
 */
.bg-image-2{
  background: url(../images/features-bg01.jpg) bottom center no-repeat #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: 50% 50%;*/
  background-attachment: initial;
  height: 750px;
}
.features-section-1 .section-separator{
  padding-top: 100px;
  padding-bottom: 50px;
}
.features-section-1 .title ~ p{
  line-height: 23px;
}
.features-section-1 .title p:nth-of-type(1){
  font-size: 20px;
  color: #f8981d;
  padding-bottom: 6px;
  background: url(../images/features-line01.png) bottom center no-repeat;
}
.features-section-1 .title p:nth-of-type(2){
  font-family: 'Gotham light';
  font-size: 12px;
  color: #c7bab5;
  letter-spacing: 4px;
  padding-bottom: 15px;
  text-transform: capitalize; //第一字大寫
}
.features-section-1 .offset-text{
  /*background: #000;*/
  position: absolute;
  font-size: 14px;
  color: #c7bab5;
  top: -6px;
  right:3%;
}


/**
 * =======================
 * work Section 1
 * =======================
 */
.bg-image-3{
  background: url(../images/work-bg01.jpg) top center no-repeat #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: 50% 50%;*/
  background-attachment: initial;
  min-height: 600px;
}
.work-section-1 .section-separator{
  padding-top: 270px;
}
.work-section-1 img[alt="kun-s"]{
  padding: 1px;
  margin-top: 120px;
  margin-bottom: 0;
  border: .2rem solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  max-width: 100%;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.8);
}
.work-section-1 img[alt="kun"]{
  padding: 2px;
  margin-right: 10%;
  /*margin-bottom: 50px;*/
  /*border: 2px solid rgba(253, 253, 253, 1);*/
  border-radius: 20px;
  max-width: 100%;
  box-shadow: 0px 35px 11px -20px rgba(220, 220, 220, 0.7);
}
.work-section-1 h6{
  font-family: 'Gotham light';
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: #f8981d;
  padding-top: 15px;
  line-height: 23px;
  text-transform: capitalize;
  margin-left: -10px;
}
.work-section-1 h6 ~ p{
  line-height: 23px;
}
.work-section-1 span a{
  font-size: 14px;
  color: #c7bab5;
  display: inline-block;
  letter-spacing: -0.5px;
  padding: 2px 3px 4px 3px;
  margin-left: 50%;
  font-style: italic;
}
.work-section-1 span a:hover{
  color: #c23f15;
}
.work-section-1 .experience{
  line-height: 23px;
}
.experience dt {
  color: #ababab;
  font-style: italic;
  float: left;
  width: 120px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.experience dd {
  margin-left: 120px;
}
@media (min-width: 1500px) {
  .work-section-1 .section-separator{
  padding-top: 20%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .work-section-1 .section-separator{
  padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .work-section-1 .section-separator{
  padding-top: 50px;
  }
  .experience dt {
  float: none;
  }
  .experience dd {
  margin-left: 10px;
  }
}


/**
 * =======================
 * footer Section
 * =======================
 */
.footer-section{
  font-family: 'Gotham light';
  font-style: italic;
  font-size: 12px;
  background: #e89980 url(../images/footer-bg01.jpg) top center no-repeat;
  background-attachment: initial;
  color: #e46338;
  display: block;
}
.footer-section .section-separator{
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-section h5{
  font-size: 16px;
  font-weight: bold;
  color: #c23f15;
  padding-bottom: 5px;
  text-transform: capitalize;
}
.footer-section a{
  padding-left: 7px;
  border-left:1px solid #e29178;
  color: #fff;
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px; 
}
.footer-section a:hover {
  color: #e46338;
  border-left:1px solid #ca765c;
}
.footer-section .text-right{
  margin-top: 1.5%;
  margin-bottom: 10px;
}


/**
 * =======================
 * portfolio Section
 * =======================
 */
.bg-image-4{
  background: url(../images/header-bg02.jpg) no-repeat #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.portfolio-section{
  background: url(../images/portfolio-bg01.png) #f4f4f4;
}
.portfolio-section .container{
  /*max-width: 930px;*/
}
.portfolio-section .section-separator{
  padding-top: 50px;
  padding-bottom: 50px;
}


/*=== star Grid CSS ===*/
.og-grid {
  list-style: none;
  /*padding: 20px 0;*/
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.og-grid li {
  display: inline-block;
  margin: 10px 5px;
  vertical-align: top;
  width: 31%;
  /*height: 250px;*/
}
.og-grid ol li {
  margin: 0 0 0 6px;
  width: 100%;
  display: list-item;
  list-style-type: decimal;
}
.og-grid li > a{
  border: none;
  outline: none;
  display: block;
  position: relative;
}
.og-grid li img{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0.5em #e6e6e6 inset, 0 0 0 1px #d4d4d4;
  -moz-box-shadow: 0 0 0.5em #e6e6e6 inset,0 0 0 1px #d4d4d4;
  -o-box-shadow: 0 0 0.5em #e6e6e6 inset, 0 0 0 1px #d4d4d4;
  box-shadow: 0 0 0.5em #e6e6e6 inset, 0 0 0 1px #d4d4d4;
}
.og-grid li > a img{
  background: #fff;
  padding: 10px;
  max-width: 100%;
  /*設定外面圖片高度   圖片比例1.9:1*/
  /*height: 142px;*/
}
.og-grid li > a img:hover{
  -webkit-box-shadow: 0 0 0 1px #d4d4d4, 0 0 20px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 0 1px #d4d4d4, 0 0 20px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 0 0 1px #d4d4d4, 0 0 20px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 1px #d4d4d4, 0 0 20px 5px rgba(0, 0, 0, 0.08);
  margin-top: -2px;
}
/*三角形箭頭*/
.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  border-bottom-color: rgba(255,255,255, .8);
  border-width: 15px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  left: 50%;
  margin: -20px 0 0 -15px;
}
/*grid's plugins框框  開始*/
.og-expander {
  position: absolute;
  background: rgba(255,255,255, .8);
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  /*height: 0;*/
  overflow: hidden;
}
.og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}
/*close 按鈕 開始*/
.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.og-close::before, .og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;  /*close粗細*/
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.og-close::after { /*覆蓋改-45度 左下-右上 */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.og-close:hover::before, .og-close:hover::after {
  background: #c42f2f;
}
/* img+details  開始*/
.og-fullimg, .og-details {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.og-details {
  width: 55%;
  padding: 0 40px 0 20px;
}
.og-fullimg {  
  width: 45%;
  text-align: right;
}
.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
.og-details h3 {
  font-weight: 900;
  font-size: 25px;
  color: #f8981d;
  /*padding: 40px 0 10px 0;*/
  margin-bottom: 10px;
  position: relative;
}
/* website 浮動背景*/
.og-details div span{
  font-weight: 900;
  font-size: 100px;
  /*color: #f3f3f3;*/
  color: #fff;
  text-shadow: -1px -2px 0px #e8e8e8;
  /*opacity: 0.3;*/
  position: absolute;
  bottom: 10%;
  left: 0;
  font-style: italic;
}
.og-details div {
  padding-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
/* view website 開始 */
.og-details a {
  font-weight: 500;
  font-size: 16px;
  color: #d6d6d6;
  background: #f5f5f5;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 10px;
  /*border: 3px solid #333;*/
  display: inline-block; /* 設定inline-block/block才可以讓框框不重疊 */
  margin: 30px 0 0 3%;
  outline: none;
}
.og-details a::before { /* 箭頭 → */
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}
.og-details a:hover {
  border-color: #999;
  color: #fff;
  background: #2a8787;
}
/* 圖片載入loading */
.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}
@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {
  .og-expander h3{ font-size: 32px; }
  .og-expander p{ font-size: 13px; }
  .og-expander a{ font-size: 12px; }
}
@media screen and (max-width: 650px) {
  .og-fullimg{ display: none; }
  .og-details{ float: none; width: 100%; }
  
  .og-details div span{font-weight: 300;font-size: 25px;} 
}
@media (max-width: 767px) {
  .og-grid li{ width: 47%; }
}
@media (max-width: 431px) {
  .og-grid li{ width: 85%; }
  .og-expander h3{ font-size: 23px; }
}
/*=== end Grid CSS ===*/
